body,
html {
  width: 100%;
  height: 100%; }

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700; }

.topnav {
  font-size: 14px; }

.lead {
  font-size: 18px;
  font-weight: 400; }

.intro-content {
  padding-top: 210px;
  /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 0px;
  text-align: center;
  color: #f8f8f8;
  background: url(../img/barber-mh.jpg) no-repeat center;
  background-size: cover; }

.intro-message {
  position: relative;
  padding-top: 7.5%;
  padding-bottom: 20%; }

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px #466d8f;
  font-size: 4em; }

.intro-message > h3 {
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0; }

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.intro-message > h3 {
  text-shadow: 2px 2px 3px #466d8f; }

@media (max-width: 767px) {
  .intro-message {
    padding-bottom: 15%; }
  .intro-message > h1 {
    font-size: 6em;
    color: #466d8f; }
  ul.intro-social-links > li {
    display: block;
    margin-bottom: 20px;
    padding: 0; }
  ul.intro-social-links > li:last-child {
    margin-bottom: 0; }
  .intro-middle {
    width: 100%; } }

.network-name {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white; }

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8; }

.content-section-a h2 {
  color: #466d8f; }

.content-section-b {
  padding: 55px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7; }

.content-section-b h2 {
  color: #466d8f; }

.content-section-c {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7; }

.section-heading {
  margin-bottom: 30px; }

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7; }

.banner {
  padding: 100px 0;
  background: url(../img/ov-version2.jpg) no-repeat center center;
  background-size: cover; }

.stripe {
  padding: 25px 0px;
  background-color: #f8f8f8;
  background-size: cover;
  width: 100%; }

.stripe p {
  color: #34495e; }

#quote {
  position: relative;
  width: 100%;
  height: 200px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0px 0px 0px 300px;
  font-size: 20px;
  font-weight: 400; }

.footer {
  padding-top: 20px;
  background-size: cover;
  background-color: #34495e; }

.schedule {
  float: left;
  width: 25%;
  color: #bdc3c7; }

.call {
  float: left;
  width: 25%;
  color: #f8f8f8; }

.call h2 {
  color: #bdc3c7; }

.address {
  float: left;
  width: 25%;
  color: #f8f8f8; }

.address h2 {
  color: #bdc3c7; }

.copylogo {
  float: right;
  width: 25%;
  color: #bdc3c7; }

.socialfooter {
  position: inline;
  height: 200px;
  width: 100%;
  margin-left: 40%;
  padding-top: 140px; }

.socialfooter img:nth-child(1) {
  position: relative;
  width: 40px;
  height: 40px; }

.underline {
  color: #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
  font-size: 16px; }

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px; } }

@media (max-width: 767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em; }
  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0; }
  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
    width: 50%; } }

p.copyright {
  position: relative;
  margin: 15px 0 0; }
