body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-content {
padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
padding-bottom: 50px;
text-align: center;
color: #f8f8f8;
background:  url(../img/intro-bg.jpg) no-repeat center center;
background-size: cover;
}


.intro-message {
    position: relative;
    padding-top: 7.5%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(400,100,200,0.6);
    font-size: 4em;
}

.intro-message > h3 {
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0;
}


.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(400,100,200,0.6);
}


.logo img {
    width: 105px;
    height: 200px;
}




@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 6em;
    }

    ul.intro-social-links > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-links > li:last-child {
        margin-bottom: 0;
    }

    .intro-middle {
        width: 100%;
    }

}

.network-name {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
}

.calltoaction {
        text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 55px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.content-section-c {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
    width: 1000px;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
    color: grey;

}

.quotebox {
    position: relative;
    width: 100%;
    height: 240px;
    float: left;
    margin: 0 0 0 0;
    background: transparent;
/*
background-image: url(../img/busMD.jpg);
background-image: cover;
background-repeat: no-repeat;
*/
} 

#quote {
    position: absolute;
    width: 100%;
    height: 200px;
    color: red;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 60px 0 10px 0;
    font-size: 20px;  
    font-weight: 500; 
}




.schedule {
    float: left;
    width: 25%;
}



.call {
    float: left;
    width: 25%;
}

.address {
    float: left;
    width: 25%;
}

.copylogo {
    float: left;
    width: 25%;

}

footer h1 {
  color: orange;
}

footer h2 {
    color: white;
}

footer h3 {
  color: orange;
}

footer p {
    color: orange;
}

footer {
    background-color: black;
}

.underline 
{
    color: orange;
    border-bottom: 1px solid orange;
}




@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
        width: 50%;
    }
}

footer {
    padding: 85px 0;
}

p.copyright {
    margin: 15px 0 0;
    color: brown;
}